openapi: 3.2.0
info:
  title: Google Analytics 4 Properties API
  x-refined-note:
  - x-discovery-revision differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged properties across 4 of this provider''s published API definitions: google-analytics-4-admin-v1alpha-openapi.yml, google-analytics-4-admin-v1beta-openapi.yml, google-analytics-4-data-v1alpha-openapi.yml, google-analytics-4-data-v1beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://analyticsadmin.googleapis.com
  description: Google Analytics Admin API
- url: https://analyticsdata.googleapis.com
  description: Google Analytics Data API
security:
- BearerAuth: []
tags:
- name: properties
paths:
  /v1alpha/properties/{propertiesId}:acknowledgeUserDataCollection:
    post:
      operationId: properties_acknowledgeUserDataCollection
      summary: Acknowledges the terms of user data collection for the specified property
      tags:
      - properties
      description: Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.
      parameters:
      - name: property
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: Required. The property for which to acknowledge user data collection.
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties:
    post:
      operationId: properties_create
      summary: Creates a Google Analytics property with the specified location and attributes
      tags:
      - properties
      description: Creates a Google Analytics property with the specified location and attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_list
      summary: Returns child Properties under the specified parent Account
      tags:
      - properties
      description: 'Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: "trashed") properties are excluded by default. Returns an empty list if no relevant properties are found.'
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.
      - name: showDeleted
        in: query
        required: false
        schema:
          type: boolean
        description: 'Whether to include soft-deleted (ie: "trashed") Properties in the results. Properties can be inspected to determine whether they are deleted or not.'
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: 'Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListPropertiesResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties:createRollupProperty:
    post:
      operationId: properties_createRollupProperty
      summary: Create a roll-up property and all roll-up property source links
      tags:
      - properties
      description: Create a roll-up property and all roll-up property source links.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}:
    delete:
      operationId: properties_delete
      summary: 'Marks target Property as soft-deleted (ie: "trashed") and returns it'
      tags:
      - properties
      description: 'Marks target Property as soft-deleted (ie: "trashed") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.'
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: "properties/1000"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_get
      summary: Lookup for a single GA Property
      tags:
      - properties
      description: Lookup for a single GA Property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The name of the property to lookup. Format: properties/{property_id} Example: "properties/1000"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_patch
      summary: Updates a property
      tags:
      - properties
      description: Updates a property.
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Identifier. Resource name of this property. Format: properties/{property_id} Example: "properties/1000"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/attributionSettings:
    get:
      operationId: properties_getAttributionSettings
      summary: Lookup for a AttributionSettings singleton
      tags:
      - properties
      description: Lookup for a AttributionSettings singleton.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/attributionSettings$
        description: 'Required. The name of the attribution settings to retrieve. Format: properties/{property}/attributionSettings'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAttributionSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_updateAttributionSettings
      summary: Updates attribution settings on a property
      tags:
      - properties
      description: Updates attribution settings on a property.
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/attributionSettings$
        description: 'Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: "properties/1000/attributionSettings"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAttributionSettings'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAttributionSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/dataRetentionSettings:
    get:
      operationId: properties_getDataRetentionSettings
      summary: Returns the singleton data retention settings for this property
      tags:
      - properties
      description: Returns the singleton data retention settings for this property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/dataRetentionSettings$
        description: 'Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: "properties/1000/dataRetentionSettings"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaDataRetentionSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_updateDataRetentionSettings
      summary: Updates the singleton data retention settings for this property
      tags:
      - properties
      description: Updates the singleton data retention settings for this property.
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/dataRetentionSettings$
        description: 'Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaDataRetentionSettings'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaDataRetentionSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/googleSignalsSettings:
    get:
      operationId: properties_getGoogleSignalsSettings
      summary: Lookup for Google Signals settings for a property
      tags:
      - properties
      description: Lookup for Google Signals settings for a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/googleSignalsSettings$
        description: 'Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleSignalsSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_updateGoogleSignalsSettings
      summary: Updates Google Signals settings for a property
      tags:
      - properties
      description: Updates Google Signals settings for a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/googleSignalsSettings$
        description: 'Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: "properties/1000/googleSignalsSettings"'
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleSignalsSettings'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleSignalsSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/reportingIdentitySettings:
    get:
      operationId: properties_getReportingIdentitySettings
      summary: Returns the reporting identity settings for this property
      tags:
      - properties
      description: Returns the reporting identity settings for this property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/reportingIdentitySettings$
        description: 'Required. The name of the settings to lookup. Format: properties/{property}/reportingIdentitySettings Example: "properties/1000/reportingIdentitySettings"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaReportingIdentitySettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_updateReportingIdentitySettings
      summary: Updates the reporting identity settings for this property
      tags:
      - properties
      description: Updates the reporting identity settings for this property.
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Optional. The list of fields to be updated. Field names must be in snake case (for example, "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields. If omitted, the service will treat it as an implied field mask equivalent to all fields that are populated.
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/reportingIdentitySettings$
        description: 'Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: "properties/1234/reportingIdentitySettings"'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaReportingIdentitySettings'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaReportingIdentitySettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/userProvidedDataSettings:
    get:
      operationId: properties_getUserProvidedDataSettings
      summary: Looks up settings related to user-provided data for a property
      tags:
      - properties
      description: Looks up settings related to user-provided data for a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/userProvidedDataSettings$
        description: 'Required. The name of the user provided data settings to retrieve. Format: properties/{property}/userProvidedDataSettings'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaUserProvidedDataSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties:provisionSubproperty:
    post:
      operationId: properties_provisionSubproperty
      summary: Create a subproperty and a subproperty event filter that applies to the created subproperty
      tags:
      - properties
      description: Create a subproperty and a subproperty event filter that applies to the created subproperty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}:runAccessReport:
    post:
      operationId: properties_runAccessReport
      summary: Returns a customized report of data access records
      tags:
      - properties
      description: Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.
      parameters:
      - name: entity
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if "123" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if "1234" is your Google Analytics Account ID.
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaRunAccessReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaRunAccessReportResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}:submitUserDeletion:
    post:
      operationId: properties_submitUserDeletion
      summary: Submits a request for user deletion for a property
      tags:
      - properties
      description: Submits a request for user deletion for a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: Required. The name of the property to submit user deletion for.
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/accessBindings:batchCreate:
    post:
      operationId: properties_accessBindings_batchCreate
      summary: Creates information about multiple access bindings to an account or property
      tags:
      - properties
      description: Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/accessBindings:batchDelete:
    post:
      operationId: properties_accessBindings_batchDelete
      summary: Deletes information about multiple users' links to an account or property
      tags:
      - properties
      description: Deletes information about multiple users' links to an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent of all provided values for the ''names'' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/accessBindings:batchGet:
    get:
      operationId: properties_accessBindings_batchGet
      summary: Gets information about multiple access bindings to an account or property
      tags:
      - properties
      description: Gets information about multiple access bindings to an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent of all provided values for the ''names'' field must match this field. Formats: - accounts/{account} - properties/{property}'
      - name: names
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
        - analytics.manage.users.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/accessBindings:batchUpdate:
    post:
      operationId: properties_accessBindings_batchUpdate
      summary: Updates information about multiple access bindings to an account or property
      tags:
      - properties
      description: Updates information about multiple access bindings to an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/accessBindings:
    post:
      operationId: properties_accessBindings_create
      summary: Creates an access binding on an account or property
      tags:
      - properties
      description: Creates an access binding on an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Formats: - accounts/{account} - properties/{property}'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    get:
      operationId: properties_accessBindings_list
      summary: Lists all access bindings on an account or property
      tags:
      - properties
      description: Lists all access bindings on an account or property.
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Formats: - accounts/{account} - properties/{property}'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
        - analytics.manage.users.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}:
    delete:
      operationId: properties_accessBindings_delete
      summary: Deletes an access binding on an account or property
      tags:
      - properties
      description: Deletes an access binding on an account or property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/accessBindings/[^/]+$
        description: 'Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
      - name: accessBindingsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    get:
      operationId: properties_accessBindings_get
      summary: Gets information about an access binding
      tags:
      - properties
      description: Gets information about an access binding.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/accessBindings/[^/]+$
        description: 'Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
      - name: accessBindingsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
        - analytics.manage.users.readonly
      - BearerAuth: []
    patch:
      operationId: properties_accessBindings_patch
      summary: Updates an access binding on an account or property
      tags:
      - properties
      description: Updates an access binding on an account or property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/accessBindings/[^/]+$
        description: 'Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: "accounts/100/accessBindings/200"'
      - name: accessBindingsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/adSenseLinks:
    post:
      operationId: properties_adSenseLinks_create
      summary: Creates an AdSenseLink
      tags:
      - properties
      description: Creates an AdSenseLink.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The property for which to create an AdSense Link. Format: properties/{propertyId} Example: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAdSenseLink'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAdSenseLink'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_adSenseLinks_list
      summary: Lists AdSenseLinks on a property
      tags:
      - properties
      description: Lists AdSenseLinks on a property.
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token received from a previous `ListAdSenseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdSenseLinks` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Resource name of the parent property. Format: properties/{propertyId} Example: properties/1234'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/adSenseLinks/{adSenseLinksId}:
    delete:
      operationId: properties_adSenseLinks_delete
      summary: Deletes an AdSenseLink
      tags:
      - properties
      description: Deletes an AdSenseLink.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/adSenseLinks/[^/]+$
        description: 'Required. Unique identifier for the AdSense Link to be deleted. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678'
      - name: adSenseLinksId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_adSenseLinks_get
      summary: Looks up a single AdSenseLink
      tags:
      - properties
      description: Looks up a single AdSenseLink.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/adSenseLinks/[^/]+$
        description: 'Required. Unique identifier for the AdSense Link requested. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678'
      - name: adSenseLinksId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAdSenseLink'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/audiences/{audiencesId}:archive:
    post:
      operationId: properties_audiences_archive
      summary: Archives an Audience on a property
      tags:
      - properties
      description: Archives an Audience on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/audiences/[^/]+$
        description: 'Required. Example format: properties/1234/audiences/5678'
      - name: audiencesId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaArchiveAudienceRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/audiences:
    post:
      operationId: properties_audiences_create
      summary: Creates an Audience
      tags:
      - properties
      description: Creates an Audience.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Example format: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudience'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudience'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_audiences_list
      summary: Lists Audiences on a property
      tags:
      - properties
      description: Lists Audiences on a property. Audiences created before 2020 may not be supported. Default audiences will not show filter definitions.
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListAudiences` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAudiences` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Example format: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListAudiencesResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/audiences/{audiencesId}:
    get:
      operationId: properties_audiences_get
      summary: Lookup for a single Audience
      tags:
      - properties
      description: Lookup for a single Audience. Audiences created before 2020 may not be supported. Default audiences will not show filter definitions.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/audiences/[^/]+$
        description: 'Required. The name of the Audience to get. Example format: properties/1234/audiences/5678'
      - name: audiencesId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudience'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_audiences_patch
      summary: Updates an Audience on a property
      tags:
      - properties
      description: Updates an Audience on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/audiences/[^/]+$
        description: 'Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}'
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: audiencesId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudience'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudience'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/bigQueryLinks:
    post:
      operationId: properties_bigQueryLinks_create
      summary: Creates a BigQueryLink
      tags:
      - properties
      description: Creates a BigQueryLink.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Example format: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBigQueryLink'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBigQueryLink'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_bigQueryLinks_list
      summary: Lists BigQuery Links on a property
      tags:
      - properties
      description: Lists BigQuery Links on a property.
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListBigQueryLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryLinks` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The name of the property to list BigQuery links under. Format: properties/{property_id} Example: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}:
    delete:
      operationId: properties_bigQueryLinks_delete
      summary: Deletes a BigQueryLink on a property
      tags:
      - properties
      description: Deletes a BigQueryLink on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/bigQueryLinks/[^/]+$
        description: 'Required. The BigQueryLink to delete. Example format: properties/1234/bigQueryLinks/5678'
      - name: bigQueryLinksId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_bigQueryLinks_get
      summary: Lookup for a single BigQuery Link
      tags:
      - properties
      description: Lookup for a single BigQuery Link.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/bigQueryLinks/[^/]+$
        description: 'Required. The name of the BigQuery link to lookup. Format: properties/{property_id}/bigQueryLinks/{bigquery_link_id} Example: properties/123/bigQueryLinks/456'
      - name: bigQueryLinksId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBigQueryLink'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_bigQueryLinks_patch
      summary: Updates a BigQueryLink
      tags:
      - properties
      description: Updates a BigQueryLink.
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/bigQueryLinks/[^/]+$
        description: 'Output only. Resource name of this BigQuery link. Format: ''properties/{property_id}/bigQueryLinks/{bigquery_link_id}'' Format: ''properties/1234/bigQueryLinks/abc567'''
      - name: bigQueryLinksId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBigQueryLink'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBigQueryLink'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/calculatedMetrics:
    post:
      operationId: properties_calculatedMetrics_create
      summary: Creates a CalculatedMetric
      tags:
      - properties
      description: Creates a CalculatedMetric.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Format: properties/{property_id} Example: properties/1234'
      - name: calculatedMetricId
        in: query
        required: false
        schema:
          type: string
        description: Required. The ID to use for the calculated metric which will become the final component of the calculated metric's resource name. This value should be 1-80 characters and valid characters are /[a-zA-Z0-9_]/, no spaces allowed. calculated_metric_id must be unique between all calculated metrics under a property. The calculated_metric_id is used when referencing this calculated metric from external APIs, for example, "calcMetric:{calculated_metric_id}".
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCalculatedMetric'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCalculatedMetric'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_calculatedMetrics_list
      summary: Lists CalculatedMetrics on a property
      tags:
      - properties
      description: Lists CalculatedMetrics on a property.
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Example format: properties/1234'
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListCalculatedMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCalculatedMetrics` must match the call that provided the page token.
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}:
    delete:
      operationId: properties_calculatedMetrics_delete
      summary: Deletes a CalculatedMetric on a property
      tags:
      - properties
      description: Deletes a CalculatedMetric on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/calculatedMetrics/[^/]+$
        description: 'Required. The name of the CalculatedMetric to delete. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01'
      - name: calculatedMetricsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_calculatedMetrics_get
      summary: Lookup for a single CalculatedMetric
      tags:
      - properties
      description: Lookup for a single CalculatedMetric.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/calculatedMetrics/[^/]+$
        description: 'Required. The name of the CalculatedMetric to get. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01'
      - name: calculatedMetricsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCalculatedMetric'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_calculatedMetrics_patch
      summary: Updates a CalculatedMetric on a property
      tags:
      - properties
      description: Updates a CalculatedMetric on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/calculatedMetrics/[^/]+$
        description: 'Identifier. Resource name for this CalculatedMetric. Format: ''properties/{property_id}/calculatedMetrics/{calculated_metric_id}'''
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: calculatedMetricsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCalculatedMetric'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCalculatedMetric'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/channelGroups:
    post:
      operationId: properties_channelGroups_create
      summary: Creates a ChannelGroup
      tags:
      - properties
      description: Creates a ChannelGroup.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The property for which to create a ChannelGroup. Example format: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroup'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_channelGroups_list
      summary: Lists ChannelGroups on a property
      tags:
      - properties
      description: Lists ChannelGroups on a property.
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListChannelGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChannelGroups` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The property for which to list ChannelGroups. Example format: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListChannelGroupsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}:
    delete:
      operationId: properties_channelGroups_delete
      summary: Deletes a ChannelGroup on a property
      tags:
      - properties
      description: Deletes a ChannelGroup on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/channelGroups/[^/]+$
        description: 'Required. The ChannelGroup to delete. Example format: properties/1234/channelGroups/5678'
      - name: channelGroupsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_channelGroups_get
      summary: Lookup for a single ChannelGroup
      tags:
      - properties
      description: Lookup for a single ChannelGroup.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/channelGroups/[^/]+$
        description: 'Required. The ChannelGroup to get. Example format: properties/1234/channelGroups/5678'
      - name: channelGroupsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroup'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_channelGroups_patch
      summary: Updates a ChannelGroup
      tags:
      - properties
      description: Updates a ChannelGroup.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/channelGroups/[^/]+$
        description: 'Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}'
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: channelGroupsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroup'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/conversionEvents:
    post:
      operationId: properties_conversionEvents_create
      summary: 'Deprecated: Use `CreateKeyEvent` instead'
      tags:
      - properties
      description: 'Deprecated: Use `CreateKeyEvent` instead. Creates a conversion event with the specified attributes.'
      deprecated: true
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The resource name of the parent property where this conversion event will be created. Format: properties/123'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConversionEvent'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConversionEvent'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_conversionEvents_list
      summary: 'Deprecated: Use `ListKeyEvents` instead'
      tags:
      - properties
      description: 'Deprecated: Use `ListKeyEvents` instead. Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.'
      deprecated: true
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. The resource name of the parent property. Example: ''properties/123'''
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListConversionEventsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}:
    delete:
      operationId: properties_conversionEvents_delete
      summary: 'Deprecated: Use `DeleteKeyEvent` instead'
      tags:
      - properties
      description: 'Deprecated: Use `DeleteKeyEvent` instead. Deletes a conversion event in a property.'
      deprecated: true
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/conversionEvents/[^/]+$
        description: 'Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: "properties/123/conversionEvents/456"'
      - name: conversionEventsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_conversionEvents_get
      summary: 'Deprecated: Use `GetKeyEvent` instead'
      tags:
      - properties
      description: 'Deprecated: Use `GetKeyEvent` instead. Retrieve a single conversion event.'
      deprecated: true
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/conversionEvents/[^/]+$
        description: 'Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: "properties/123/conversionEvents/456"'
      - name: conversionEventsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConversionEvent'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_conversionEvents_patch
      summary: 'Deprecated: Use `UpdateKeyEvent` instead'
      tags:
      - properties
      description: 'Deprecated: Use `UpdateKeyEvent` instead. Updates a conversion event with the specified attributes.'
      deprecated: true
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/conversionEvents/[^/]+$
        description: 'Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}'
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (e.g., "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: conversionEventsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConversionEvent'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConversionEvent'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive:
    post:
      operationId: properties_customDimensions_archive
      summary: Archives a CustomDimension on a property
      tags:
      - properties
      description: Archives a CustomDimension on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/customDimensions/[^/]+$
        description: 'Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678'
      - name: customDimensionsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/customDimensions:
    post:
      operationId: properties_customDimensions_create
      summary: Creates a CustomDimension
      tags:
      - properties
      description: 'Creates a CustomDimension. Warning: It''s not permissible to use this method to collect data on individual users. In particular, sending user IDs in custom dimensions violates the [Google Analytics Terms of Service](https://www.google.com/analytics/terms/).'
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Example format: properties/1234'
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCustomDimension'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCustomDimension'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: properties_customDimensions_list
      summary: Lists CustomDimensions on a property
      tags:
      - properties
      description: Lists CustomDimensions on a property.
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+$
        description: 'Required. Example format: properties/1234'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:
    get:
      operationId: properties_customDimensions_get
      summary: Lookup for a single CustomDimension
      tags:
      - properties
      description: Lookup for a single CustomDimension.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/customDimensions/[^/]+$
        description: 'Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678'
      - name: customDimensionsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCustomDimension'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: properties_customDimensions_patch
      summary: Updates a CustomDimension on a property
      tags:
      - properties
      description: Updates a CustomDimension on a property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^properties/[^/]+/customDimensions/[^/]+$
        description: 'Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}'
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: customDimensionsId
        in: path
        required: true
        schema:
          type: string
      - name: propertiesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCustomDimension'
      responses:
        '200':
[...]
