openapi: 3.2.0
info:
  title: Google Analytics 4 Accounts API
  contact:
    name: Google
    url: http://code.google.com/apis/analytics/docs/mgmt/home.html
  x-discovery-revision: '20260810'
  version: '1.0'
  description: 'Operations tagged accounts across 2 of this provider''s published API definitions: google-analytics-4-admin-v1alpha-openapi.yml, google-analytics-4-admin-v1beta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://analyticsadmin.googleapis.com
  description: Google Analytics Admin API
security:
- BearerAuth: []
tags:
- name: accounts
paths:
  /v1alpha/accounts/{accountsId}:
    delete:
      operationId: accounts_delete
      summary: 'Marks target Account as soft-deleted (ie: "trashed") and returns it'
      tags:
      - accounts
      description: 'Marks target Account as soft-deleted (ie: "trashed") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.'
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The name of the Account to soft-delete. Format: accounts/{account} Example: "accounts/100"'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: accounts_get
      summary: Lookup for a single Account
      tags:
      - accounts
      description: Lookup for a single Account.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The name of the account to lookup. Format: accounts/{account} Example: "accounts/100"'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccount'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: accounts_patch
      summary: Updates an account
      tags:
      - accounts
      description: Updates an account.
      parameters:
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (for example, "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Identifier. Resource name of this account. Format: accounts/{account} Example: "accounts/100"'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccount'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccount'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/dataSharingSettings:
    get:
      operationId: accounts_getDataSharingSettings
      summary: Get data sharing settings on an account
      tags:
      - accounts
      description: Get data sharing settings on an account. Data sharing settings are singletons.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+/dataSharingSettings$
        description: 'Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaDataSharingSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts:
    get:
      operationId: accounts_list
      summary: Returns all accounts accessible by the caller
      tags:
      - accounts
      description: 'Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: "trashed") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.'
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
      - name: showDeleted
        in: query
        required: false
        schema:
          type: boolean
        description: 'Whether to include soft-deleted (ie: "trashed") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.'
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListAccountsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts:provisionAccountTicket:
    post:
      operationId: accounts_provisionAccountTicket
      summary: Requests a ticket for creating an account
      tags:
      - accounts
      description: Requests a ticket for creating an account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}:runAccessReport:
    post:
      operationId: accounts_runAccessReport
      summary: Returns a customized report of data access records
      tags:
      - accounts
      description: Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.
      parameters:
      - name: entity
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if "123" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if "1234" is your Google Analytics Account ID.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaRunAccessReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaRunAccessReportResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}:searchChangeHistoryEvents:
    post:
      operationId: accounts_searchChangeHistoryEvents
      summary: Searches through all changes to an account or its children given the specified set of filters
      tags:
      - accounts
      description: Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.
      parameters:
      - name: account
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/accessBindings:batchCreate:
    post:
      operationId: accounts_accessBindings_batchCreate
      summary: Creates information about multiple access bindings to an account or property
      tags:
      - accounts
      description: Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/accessBindings:batchDelete:
    post:
      operationId: accounts_accessBindings_batchDelete
      summary: Deletes information about multiple users' links to an account or property
      tags:
      - accounts
      description: Deletes information about multiple users' links to an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent of all provided values for the ''names'' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/accessBindings:batchGet:
    get:
      operationId: accounts_accessBindings_batchGet
      summary: Gets information about multiple access bindings to an account or property
      tags:
      - accounts
      description: Gets information about multiple access bindings to an account or property.
      parameters:
      - name: names
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent of all provided values for the ''names'' field must match this field. Formats: - accounts/{account} - properties/{property}'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
        - analytics.manage.users.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/accessBindings:batchUpdate:
    post:
      operationId: accounts_accessBindings_batchUpdate
      summary: Updates information about multiple access bindings to an account or property
      tags:
      - accounts
      description: Updates information about multiple access bindings to an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/accessBindings:
    post:
      operationId: accounts_accessBindings_create
      summary: Creates an access binding on an account or property
      tags:
      - accounts
      description: Creates an access binding on an account or property.
      parameters:
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. Formats: - accounts/{account} - properties/{property}'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    get:
      operationId: accounts_accessBindings_list
      summary: Lists all access bindings on an account or property
      tags:
      - accounts
      description: Lists all access bindings on an account or property.
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.
      - name: parent
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. Formats: - accounts/{account} - properties/{property}'
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListAccessBindingsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
        - analytics.manage.users.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}:
    delete:
      operationId: accounts_accessBindings_delete
      summary: Deletes an access binding on an account or property
      tags:
      - accounts
      description: Deletes an access binding on an account or property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+/accessBindings/[^/]+$
        description: 'Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
      - name: accessBindingsId
        in: path
        required: true
        schema:
          type: string
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    get:
      operationId: accounts_accessBindings_get
      summary: Gets information about an access binding
      tags:
      - accounts
      description: Gets information about an access binding.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+/accessBindings/[^/]+$
        description: 'Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
      - name: accessBindingsId
        in: path
        required: true
        schema:
          type: string
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
        - analytics.manage.users.readonly
      - BearerAuth: []
    patch:
      operationId: accounts_accessBindings_patch
      summary: Updates an access binding on an account or property
      tags:
      - accounts
      description: Updates an access binding on an account or property.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+/accessBindings/[^/]+$
        description: 'Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: "accounts/100/accessBindings/200"'
      - name: accessBindingsId
        in: path
        required: true
        schema:
          type: string
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.manage.users
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1beta/accounts/{accountsId}:
    delete:
      operationId: accounts_delete
      summary: 'Marks target Account as soft-deleted (ie: "trashed") and returns it'
      tags:
      - accounts
      description: 'Marks target Account as soft-deleted (ie: "trashed") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.'
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The name of the Account to soft-delete. Format: accounts/{account} Example: "accounts/100"'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    get:
      operationId: accounts_get
      summary: Lookup for a single Account
      tags:
      - accounts
      description: Lookup for a single Account.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The name of the account to lookup. Format: accounts/{account} Example: "accounts/100"'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    patch:
      operationId: accounts_patch
      summary: Updates an account
      tags:
      - accounts
      description: Updates an account.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Identifier. Resource name of this account. Format: accounts/{account} Example: "accounts/100"'
      - name: updateMask
        in: query
        required: false
        schema:
          type: string
          format: google-fieldmask
        description: Required. The list of fields to be updated. Field names must be in snake case (for example, "field_to_update"). Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1beta/accounts/{accountsId}/dataSharingSettings:
    get:
      operationId: accounts_getDataSharingSettings
      summary: Get data sharing settings on an account
      tags:
      - accounts
      description: Get data sharing settings on an account. Data sharing settings are singletons.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+/dataSharingSettings$
        description: 'Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataSharingSettings'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1beta/accounts:
    get:
      operationId: accounts_list
      summary: Returns all accounts accessible by the caller
      tags:
      - accounts
      description: 'Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: "trashed") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.'
      parameters:
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.
      - name: showDeleted
        in: query
        required: false
        schema:
          type: boolean
        description: 'Whether to include soft-deleted (ie: "trashed") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaListAccountsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1beta/accounts:provisionAccountTicket:
    post:
      operationId: accounts_provisionAccountTicket
      summary: Requests a ticket for creating an account
      tags:
      - accounts
      description: Requests a ticket for creating an account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1beta/accounts/{accountsId}:runAccessReport:
    post:
      operationId: accounts_runAccessReport
      summary: Returns a customized report of data access records
      tags:
      - accounts
      description: Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.
      parameters:
      - name: entity
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if "123" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if "1234" is your Google Analytics Account ID.
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaRunAccessReportRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaRunAccessReportResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
  /v1beta/accounts/{accountsId}:searchChangeHistoryEvents:
    post:
      operationId: accounts_searchChangeHistoryEvents
      summary: Searches through all changes to an account or its children given the specified set of filters
      tags:
      - accounts
      description: Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.
      parameters:
      - name: account
        in: query
        required: true
        schema:
          type: string
          pattern: ^accounts/[^/]+$
        description: 'Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`'
      - name: accountsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
      - BearerAuth: []
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
components:
  schemas:
    GoogleTypeDate:
      description: 'Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp'
      properties:
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
        day:
          type: integer
          format: int32
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
        month:
          format: int32
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          type: integer
      type: object
    GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter:
      type: object
      description: A filter for a string-type dimension that matches a particular pattern.
      properties:
        caseSensitive:
          type: boolean
          description: Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.
        value:
          type: string
          description: Required. The string value to be matched against.
        matchType:
          type: string
          x-enumDescriptions:
          - Unspecified
          - Exact match of the string value.
          - Begins with the string value.
          - Ends with the string value.
          - Contains the string value.
          - Full regular expression matches with the string value.
          description: Required. The match type for the string filter.
          enum:
          - MATCH_TYPE_UNSPECIFIED
          - EXACT
          - BEGINS_WITH
          - ENDS_WITH
          - CONTAINS
          - FULL_REGEXP
    GoogleAnalyticsAdminV1alphaFirebaseLink:
      description: A link between a Google Analytics property and a Firebase project.
      properties:
        name:
          type: string
          description: 'Identifier. Example format: properties/1234/firebaseLinks/5678'
        project:
          description: 'Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: ''projects/{project number}'' Example: ''projects/1234'''
          type: string
        createTime:
          type: string
          description: Output only. Time when this FirebaseLink was originally created.
          format: google-datetime
      type: object
    GoogleAnalyticsAdminV1alphaReportingDataAnnotation:
      type: object
      description: A Reporting Data Annotation is a comment connected to certain dates for reporting data.
      properties:
        color:
          type: string
          description: Required. The color used for display of this Reporting Data Annotation.
          enum:
          - COLOR_UNSPECIFIED
          - PURPLE
          - BROWN
          - BLUE
          - GREEN
          - RED
          - CYAN
          - ORANGE
          x-enumDescriptions:
          - Color unknown or not specified.
          - Purple color.
          - Brown color.
          - Blue color.
          - Green color.
          - Red color.
          - Cyan color.
          - Orange color. (Only used for system-generated annotations)
        name:
          type: string
          description: 'Required. Identifier. Resource name of this Reporting Data Annotation. Format: ''properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}'' Format: ''properties/123/reportingDataAnnotations/456'''
        title:
          type: string
          description: Required. Human-readable title for this Reporting Data Annotation.
        annotationDateRange:
          description: If set, the Reporting Data Annotation is for a range of dates represented by this field.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange'
        description:
          description: Optional. Description for this Reporting Data Annotation.
          type: string
        systemGenerated:
          type: boolean
          description: Output only. If true, this annotation was generated by the Google Analytics system. System-generated annotations cannot be updated or deleted.
        annotationDate:
          description: If set, the Reporting Data Annotation is for a specific date represented by this field. The date must be a valid date with year, month and day set. The date may be in the past, present, or future.
          $ref: '#/components/schemas/GoogleTypeDate'
    GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue:
      description: Defines a default value/currency for a conversion event. Both value and currency must be provided.
      properties:
        value:
          description: This value will be used to populate the value for all conversions of the specified event_name where the event "value" parameter is unset.
          format: double
          type: number
        currencyCode:
          description: When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListAccountsResponse:
      type: object
      description: Request message for ListAccounts RPC.
      properties:
        accounts:
          description: Results that were accessible to the caller.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccount'
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
    GoogleAnalyticsAdminV1alphaAudienceSimpleFilter:
      description: Defines a simple filter that a user must satisfy to be a member of the Audience.
      properties:
        scope:
          description: Required. Immutable. Specifies the scope for this filter.
          enum:
          - AUDIENCE_FILTER_SCOPE_UNSPECIFIED
          - AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT
          - AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION
          - AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS
          x-enumDescriptions:
          - Scope is not specified.
          - User joins the Audience if the filter condition is met within one event.
          - User joins the Audience if the filter condition is met within one session.
          - User joins the Audience if the filter condition is met by any event across any session.
          type: string
        filterExpression:
          description: Required. Immutable. A logical expression of Audience dimension, metric, or event filters.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpression'
      type: object
    GoogleAnalyticsAdminV1alphaChannelGroupFilter:
      description: A specific filter for a single dimension.
      properties:
        fieldName:
          type: string
          description: Required. Immutable. The dimension name to filter.
        inListFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter'
          description: A filter for a string dimension that matches a particular list of options.
        stringFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter'
          description: A filter for a string-type dimension that matches a particular pattern.
      type: object
    GoogleAnalyticsAdminV1alphaBigQueryLink:
      description: A link between a Google Analytics property and BigQuery project.
      properties:
        dailyExportEnabled:
          description: If set true, enables daily data export to the linked Google Cloud project.
          type: boolean
        exportStreams:
          type: array
          items:
            type: string
          description: 'The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: [''properties/1000/dataStreams/2000'']'
        datasetLocation:
          type: string
          description: Required. Immutable. The geographic location where the created BigQuery dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.
        freshDailyExportEnabled:
          type: boolean
          description: If set true, enables fresh daily export to the linked Google Cloud project.
        name:
          description: 'Output only. Resource name of this BigQuery link. Format: ''properties/{property_id}/bigQueryLinks/{bigquery_link_id}'' Format: ''properties/1234/bigQueryLinks/abc567'''
          type: string
        project:
          type: string
          description: 'Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: ''projects/{project number}'' Example: ''projects/1234'''
        includeAdvertisingId:
          type: boolean
          description: If set true, exported data will include advertising identifiers for mobile app streams.
        excludedEvents:
          type: array
          items:
            type: string
          description: The list of event names that will be excluded from exports.
        streamingExportEnabled:
          description: If set true, enables streaming export to the linked Google Cloud project.
          type: boolean
        createTime:
          type: string
          format: google-datetime
          description: Output only. Time when the link was created.
      type: object
    GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest:
      description: Request message for BatchCreateAccessBindings RPC.
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest'
          description: Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.
      type: object
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList:
      description: A list of ExpandedDataSet filter expressions.
      properties:
        filterExpressions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression'
          description: A list of ExpandedDataSet filter expressions.
      type: object
    GoogleAnalyticsAdminV1alphaExpandedDataSet:
      type: object
      description: A resource message representing an `ExpandedDataSet`.
      properties:
        dataCollectionStartTime:
          type: string
          format: google-datetime
          description: Output only. Time when expanded data set began (or will begin) collecing data.
        displayName:
          description: Required. The display name of the ExpandedDataSet. Max 200 chars.
          type: string
        dimensionNames:
          type: array
          items:
            type: string
          description: Immutable. The list of dimensions included in the ExpandedDataSet. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names.
        description:
          description: Optional. The description of the ExpandedDataSet. Max 50 chars.
          type: string
        name:
          type: string
          description: 'Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}'
        metricNames:
          type: array
          items:
            type: string
          description: Immutable. The list of metrics included in the ExpandedDataSet. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of dimension names.
        dimensionFilterExpression:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression'
          description: Immutable. A logical expression of ExpandedDataSet filters applied to dimension included in the ExpandedDataSet. This filter is used to reduce the number of rows and thus the chance of encountering `other` row.
    GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest:
      type: object
      description: Request message for UpdateAccessBinding RPC.
      properties:
        accessBinding:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
          description: Required. The access binding to update.
    GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest:
      description: Request message for DeleteAccessBinding RPC.
      properties:
        name:
          description: 'Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}'
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaRunAccessReportRequest:
      description: The request for a Data Access Record Report.
      properties:
        orderBys:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessOrderBy'
          description: Specifies how rows are ordered in the response.
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessMetric'
          description: The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.
        metricFilter:
          description: Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessFilterExpression'
        dimensions:
          description: The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessDimension'
        dimensionFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessFilterExpression'
          description: Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.
        returnEntityQuota:
          type: boolean
          description: Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.
        includeAllUsers:
          description: Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included.
          type: boolean
        timeZone:
          description: This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example "America/New_York" or "Asia/Tokyo".
          type: string
        offset:
          type: string
          description: The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
          format: int64
        limit:
          type: string
          description: The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
          format: int64
        expandGroups:
          description: Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned.
          type: boolean
        dateRanges:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessDateRange'
          description: Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.
      type: object
    GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse:
      type: object
      description: Response message for BatchCreateAccessBindings RPC.
      properties:
        accessBindings:
          description: The access bindings created.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
    GoogleAnalyticsAdminV1alphaChangeHistoryChange:
      description: A description of a change to a single Google Analytics resource.
      properties:
        resource:
          description: Resource name of the resource whose changes are described by this entry.
          type: string
        resourceBeforeChange:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource'
          description: Resource contents from before the change was made. If this resource was created in this change, this field will be missing.
        action:
          x-enumDescriptions:
          - Action type unknown or not specified.
          - Resource was created in this change.
          - Resource was updated in this change.
          - Resource was deleted in this change.
          description: The type of action that changed this resource.
          enum:
          - ACTION_TYPE_UNSPECIFIED
          - CREATED
          - UPDATED
          - DELETED
          type: string
        resourceAfterChange:
          description: Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource'
      type: object
    GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest:
      type: object
      description: Request message for ProvisionAccountTicket RPC.
      properties:
        redirectUri:
          type: string
          description: Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.
        account:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccount'
          description: The account to create.
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression:
      type: object
      description: A logical expression of EnhancedDataSet dimension filters.
      properties:
        filter:
          description: A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilter'
        andGroup:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList'
          description: A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.
        notExpression:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression'
          description: A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression.
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilter:
      description: A specific filter for a single dimension
      properties:
        fieldName:
          description: Required. The dimension name to filter.
          type: string
        stringFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter'
          description: A filter for a string-type dimension that matches a particular pattern.
        inListFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter'
          description: A filter for a string dimension that matches a particular list of options.
      type: object
    GoogleAnalyticsAdminV1alphaAudience:
      description: A resource message representing an Audience.
      properties:
        createTime:
          format: google-datetime
          description: Output only. Time when the Audience was created.
          type: string
        description:
          description: Required. The description of the Audience.
          type: string
        name:
          type: string
          description: 'Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}'
        eventTrigger:
          description: Optional. Specifies an event to log when a user joins the Audience. If not set, no event is logged when a user joins the Audience.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceEventTrigger'
        displayName:
          type: string
          description: Required. The display name of the Audience.
        membershipDurationDays:
          format: int32
          description: Required. Immutable. The duration a user should stay in an Audience. It cannot be set to more than 540 days.
          type: integer
        filterClauses:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterClause'
          description: Required. Immutable. Unordered list. Filter clauses that define the Audience. All clauses will be AND’ed together.
        adsPersonalizationEnabled:
          type: boolean
          description: Output only. It is automatically set by GA to false if this is an NPA Audience and is excluded from ads personalization.
        exclusionDurationMode:
          description: Immutable. Specifies how long an exclusion lasts for users that meet the exclusion filter. It is applied to all EXCLUDE filter clauses and is ignored when there is no EXCLUDE filter clause in the Audience.
          enum:
          - AUDIENCE_EXCLUSION_DURATION_MODE_UNSPECIFIED
          - EXCLUDE_TEMPORARILY
          - EXCLUDE_PERMANENTLY
          x-enumDescriptions:
          - Not specified.
          - Exclude users from the Audience during periods when they meet the filter clause.
          - Exclude users from the Audience if they've ever met the filter clause.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAccessNumericFilter:
      type: object
      description: Filters for numeric or date values.
      properties:
        operation:
          type: string
          x-enumDescriptions:
          - Unspecified.
          - Equal
          - Less than
          - Less than or equal
          - Greater than
          - Greater than or equal
          description: The operation type for this filter.
          enum:
          - OPERATION_UNSPECIFIED
          - EQUAL
          - LESS_THAN
          - LESS_THAN_OR_EQUAL
          - GREATER_THAN
          - GREATER_THAN_OR_EQUAL
        value:
          description: A numeric value or a date value.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaNumericValue'
    GoogleAnalyticsAdminV1alphaAttributionSettings:
      type: object
      description: The attribution settings used for a given property. This is a singleton resource.
      properties:
        reportingAttributionModel:
          x-enumDescriptions:
          - Reporting attribution model unspecified.
          - Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN
          - Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK
          - Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK
          description: Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.
          enum:
          - REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED
          - PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN
          - PAID_AND_ORGANIC_CHANNELS_LAST_CLICK
          - GOOGLE_PAID_CHANNELS_LAST_CLICK
          type: string
        acquisitionConversionEventLookbackWindow:
          type: string
          description: Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.
          enum:
          - ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED
          - ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS
          - ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS
          x-enumDescriptions:
          - Lookback window size unspecified.
          - 7-day lookback window.
          - 30-day lookback window.
        name:
          type: string
          description: 'Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: "properties/1000/attributionSettings"'
        otherConversionEventLookbackWindow:
          x-enumDescriptions:
          - Lookback window size unspecified.
          - 30-day lookback window.
          - 60-day lookback window.
          - 90-day lookback window.
          description: Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.
          enum:
          - OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED
          - OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS
          - OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS
          - OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS
          type: string
        adsWebConversionDataExportScope:
          type: string
          x-enumDescriptions:
          - Default value. This value is unused.
          - No data export scope selected yet. Export scope can never be changed back to this value.
          - Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).
          - Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359).
          description: Required. The Conversion Export Scope for data exported to linked Ads Accounts.
          enum:
          - ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED
          - NOT_SELECTED_YET
          - PAID_AND_ORGANIC_CHANNELS
          - GOOGLE_PAID_CHANNELS
    GoogleAnalyticsAdminV1alphaSubpropertySyncConfig:
      description: Subproperty synchronization configuration controls how ordinary property configurations are synchronized to subproperties. This resource is provisioned automatically for each subproperty.
      properties:
        name:
          description: 'Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678'
          type: string
        applyToProperty:
          type: string
          description: Output only. Immutable. Resource name of the subproperty that these settings apply to.
        customDimensionAndMetricSyncMode:
          description: Required. Specifies the Custom Dimension / Metric synchronization mode for the subproperty. If set to ALL, Custom Dimension / Metric synchronization will be immediately enabled. Local configuration of Custom Dimensions / Metrics will not be allowed on the subproperty so long as the synchronization mode is set to ALL. If set to NONE, Custom Dimensions / Metric synchronization is disabled. Custom Dimensions / Metrics must be configured explicitly on the Subproperty.
          enum:
          - SYNCHRONIZATION_MODE_UNSPECIFIED
          - NONE
          - ALL
          x-enumDescriptions:
          - Synchronization mode unknown or not specified.
          - Entities are not synchronized. Local edits are allowed on the subproperty.
          - Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAccessBetweenFilter:
      description: To express that the result needs to be between two numbers (inclusive).
      properties:
        fromValue:
          description: Begins with this number.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaNumericValue'
        toValue:
          description: Ends with this number.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaNumericValue'
      type: object
    GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter:
      type: object
      description: A filter for numeric or date values on a dimension or metric.
      properties:
        operation:
          description: Required. The operation applied to a numeric filter.
          enum:
          - OPERATION_UNSPECIFIED
          - EQUAL
          - LESS_THAN
          - GREATER_THAN
          x-enumDescriptions:
          - Unspecified.
          - Equal.
          - Less than.
          - Greater than.
          type: string
        value:
          description: Required. The numeric or date value to match against.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue'
    GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter:
      description: A filter for numeric or date values between certain values on a dimension or metric.
      properties:
        fromValue:
          description: Required. Begins with this number, inclusive.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue'
        toValue:
          description: Required. Ends with this number, inclusive.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue'
      type: object
    GoogleAnalyticsAdminV1alphaAccessFilter:
      type: object
      description: An expression to filter dimension or metric values.
      properties:
        stringFilter:
          description: Strings related filter.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessStringFilter'
        numericFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessNumericFilter'
          description: A filter for numeric or date values.
        betweenFilter:
          description: A filter for two values.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBetweenFilter'
        fieldName:
          description: The dimension name or metric name.
          type: string
        inListFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessInListFilter'
          description: A filter for in list values.
    GoogleAnalyticsAdminV1alphaEventMapping:
      type: object
      description: Event setting conditions to match an event.
      properties:
        minEventValue:
          type: number
          description: The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked.
          format: double
        minEventCount:
          description: At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.
          format: int64
          type: string
        maxEventCount:
          type: string
          format: int64
          description: The maximum number of times the event occurred. If not set, maximum event count won't be checked.
        eventName:
          description: Required. Name of the Google Analytics event. It must always be set. The max allowed display name length is 40 UTF-16 code units.
          type: string
        maxEventValue:
          type: number
          format: double
          description: The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked.
    GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest:
      description: Request message for SearchChangeHistoryEvents RPC.
      properties:
        latestChangeTime:
          format: google-datetime
          description: Optional. If set, only return changes made before this time (inclusive).
          type: string
        action:
          type: array
          items:
            type: string
            x-enumDescriptions:
            - Action type unknown or not specified.
            - Resource was created in this change.
            - Resource was updated in this change.
            - Resource was deleted in this change.
            enum:
            - ACTION_TYPE_UNSPECIFIED
            - CREATED
            - UPDATED
            - DELETED
          description: Optional. If set, only return changes that match one or more of these types of actions.
        property:
          type: string
          description: 'Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`'
        resourceType:
          type: array
          items:
            x-enumDescriptions:
            - Resource type unknown or not specified.
            - Account resource
            - Property resource
            - FirebaseLink resource
            - GoogleAdsLink resource
            - GoogleSignalsSettings resource
            - ConversionEvent resource
            - MeasurementProtocolSecret resource
            - CustomDimension resource
            - CustomMetric resource
            - DataRetentionSettings resource
            - DisplayVideo360AdvertiserLink resource
            - DisplayVideo360AdvertiserLinkProposal resource
            - SearchAds360Link resource
            - DataStream resource
            - AttributionSettings resource
            - ExpandedDataSet resource
            - ChannelGroup resource
            - BigQuery link resource
            - EnhancedMeasurementSettings resource
            - DataRedactionSettings resource
            - SKAdNetworkConversionValueSchema resource
            - AdSenseLink resource
            - Audience resource
            - EventCreateRule resource
            - KeyEvent resource
            - CalculatedMetric resource
            - ReportingDataAnnotation resource
            - SubpropertySyncConfig resource
            - ReportingIdentitySettings resource
            - UserProvidedDataSettings resource
            enum:
            - CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED
            - ACCOUNT
            - PROPERTY
            - FIREBASE_LINK
            - GOOGLE_ADS_LINK
            - GOOGLE_SIGNALS_SETTINGS
            - CONVERSION_EVENT
            - MEASUREMENT_PROTOCOL_SECRET
            - CUSTOM_DIMENSION
            - CUSTOM_METRIC
            - DATA_RETENTION_SETTINGS
            - DISPLAY_VIDEO_360_ADVERTISER_LINK
            - DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL
            - SEARCH_ADS_360_LINK
            - DATA_STREAM
            - ATTRIBUTION_SETTINGS
            - EXPANDED_DATA_SET
            - CHANNEL_GROUP
            - BIGQUERY_LINK
            - ENHANCED_MEASUREMENT_SETTINGS
            - DATA_REDACTION_SETTINGS
            - SKADNETWORK_CONVERSION_VALUE_SCHEMA
            - ADSENSE_LINK
            - AUDIENCE
            - EVENT_CREATE_RULE
            - KEY_EVENT
            - CALCULATED_METRIC
            - REPORTING_DATA_ANNOTATION
            - SUBPROPERTY_SYNC_CONFIG
            - REPORTING_IDENTITY_SETTINGS
            - USER_PROVIDED_DATA_SETTINGS
            type: string
          description: Optional. If set, only return changes if they are for a resource that matches at least one of these types.
        pageSize:
          type: integer
          description: Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number.
          format: int32
        earliestChangeTime:
          description: Optional. If set, only return changes made after this time (inclusive).
          format: google-datetime
          type: string
        pageToken:
          type: string
          description: Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.
        actorEmail:
          description: Optional. If set, only return changes if they are made by a user in this list.
          type: array
          items:
            type: string
      type: object
    GoogleAnalyticsAdminV1alphaCustomDimension:
      type: object
      description: A definition for a CustomDimension.
      properties:
        displayName:
          description: Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.
          type: string
        scope:
          type: string
          description: Required. Immutable. The scope of this dimension.
          enum:
          - DIMENSION_SCOPE_UNSPECIFIED
          - EVENT
          - USER
          - ITEM
          x-enumDescriptions:
          - Scope unknown or not specified.
          - Dimension scoped to an event.
          - Dimension scoped to a user.
          - Dimension scoped to eCommerce items
        name:
          description: 'Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}'
          type: string
        parameterName:
          description: Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.
          type: string
        description:
          description: Optional. Description for this custom dimension. Max length of 150 characters.
          type: string
        disallowAdsPersonalization:
          type: boolean
          description: Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.
    GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy:
      type: object
      description: Sorts by metric values.
      properties:
        metricName:
          description: A metric name in the request to order by.
          type: string
    GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse:
      description: Response message for SearchAccounts RPC.
      properties:
        changeHistoryEvents:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChangeHistoryEvent'
          description: Results that were accessible to the caller.
        nextPageToken:
          type: string
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
      type: object
    GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList:
      description: A list of Audience filter expressions.
      properties:
        filterExpressions:
          description: A list of Audience filter expressions.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpression'
      type: object
    GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression:
      type: object
      description: A logical expression of Channel Group dimension filters.
      properties:
        filter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilter'
          description: A filter on a single dimension. This cannot be set on the top level ChannelGroupFilterExpression.
        andGroup:
          description: A list of expressions to be AND’ed together. It can only contain ChannelGroupFilterExpressions with or_group. This must be set for the top level ChannelGroupFilterExpression.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList'
        orGroup:
          description: A list of expressions to OR’ed together. It cannot contain ChannelGroupFilterExpressions with and_group or or_group.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList'
        notExpression:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression'
          description: A filter expression to be NOT'ed (that is inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level ChannelGroupFilterExpression.
    GoogleAnalyticsAdminV1alphaAudienceFilterClause:
      type: object
      description: A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).
      properties:
        clauseType:
          type: string
          x-enumDescriptions:
          - Unspecified clause type.
          - Users will be included in the Audience if the filter clause is met.
          - Users will be excluded from the Audience if the filter clause is met.
          description: Required. Specifies whether this is an include or exclude filter clause.
          enum:
          - AUDIENCE_CLAUSE_TYPE_UNSPECIFIED
          - INCLUDE
          - EXCLUDE
        sequenceFilter:
          description: Filters that must occur in a specific order for the user to be a member of the Audience.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceSequenceFilter'
        simpleFilter:
          description: A simple filter that a user must satisfy to be a member of the Audience.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceSimpleFilter'
    GoogleAnalyticsAdminV1alphaCalculatedMetric:
      type: object
      description: A definition for a calculated metric.
      properties:
        restrictedMetricType:
          type: array
          items:
            type: string
            enum:
            - RESTRICTED_METRIC_TYPE_UNSPECIFIED
            - COST_DATA
            - REVENUE_DATA
            x-enumDescriptions:
            - Type unknown or unspecified.
            - Metric reports cost data.
            - Metric reports revenue data.
          description: Output only. Types of restricted data that this metric contains.
        formula:
          type: string
          description: 'Required. The calculated metric''s definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: "( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0"'
        displayName:
          type: string
          description: Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters.
        calculatedMetricId:
          description: Output only. The ID to use for the calculated metric. In the UI, this is referred to as the "API name." The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, "calcMetric:{calculated_metric_id}".
          type: string
        invalidMetricReference:
          description: Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results.
          type: boolean
        description:
          description: Optional. Description for this calculated metric. Max length of 4096 characters.
          type: string
        name:
          type: string
          description: 'Identifier. Resource name for this CalculatedMetric. Format: ''properties/{property_id}/calculatedMetrics/{calculated_metric_id}'''
        metricUnit:
          description: Required. The type for the calculated metric's value.
          enum:
          - METRIC_UNIT_UNSPECIFIED
          - STANDARD
          - CURRENCY
          - FEET
          - MILES
          - METERS
          - KILOMETERS
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          x-enumDescriptions:
          - MetricUnit unspecified or missing.
          - This metric uses default units.
          - This metric measures a currency.
          - This metric measures feet.
          - This metric measures miles.
          - This metric measures meters.
          - This metric measures kilometers.
          - This metric measures milliseconds.
          - This metric measures seconds.
          - This metric measures minutes.
          - This metric measures hours.
          type: string
    GoogleAnalyticsAdminV1alphaAccessMetric:
      description: The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.
      properties:
        metricName:
          description: The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter:
      description: A filter for a string dimension that matches a particular list of options.
      properties:
        caseSensitive:
          type: boolean
          description: Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true.
        values:
          type: array
          items:
            type: string
          description: Required. The list of possible string values to match against. Must be non-empty.
      type: object
    GoogleAnalyticsAdminV1alphaGoogleAdsLink:
      type: object
      description: A link between a Google Analytics property and a Google Ads account.
      properties:
        name:
          description: 'Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.'
          type: string
        createTime:
          type: string
          description: Output only. Time when this link was originally created.
          format: google-datetime
        creatorEmailAddress:
          description: Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.
          type: string
        canManageClients:
          description: Output only. If true, this link is for a Google Ads manager account.
          type: boolean
        adsPersonalizationEnabled:
          type: boolean
          description: Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.
        updateTime:
          type: string
          description: Output only. Time when this link was last updated.
          format: google-datetime
        customerId:
          type: string
          description: Immutable. Google Ads customer ID.
    GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse:
      type: object
      description: Response message for ProvisionAccountTicket RPC.
      properties:
        accountTicketId:
          description: The param to be passed in the ToS link.
          type: string
    GoogleAnalyticsAdminV1alphaDataRedactionSettings:
      description: Settings for client-side data redaction. Singleton resource under a Web Stream.
      properties:
        emailRedactionEnabled:
          type: boolean
          description: If enabled, any event parameter or user property values that look like an email will be redacted.
        queryParameterKeys:
          type: array
          items:
            type: string
          description: The query parameter keys to apply redaction logic to if present in the URL. Query parameter matching is case-insensitive. Must contain at least one element if query_parameter_replacement_enabled is true. Keys cannot contain commas.
        queryParameterRedactionEnabled:
          description: Query Parameter redaction removes the key and value portions of a query parameter if it is in the configured set of query parameters. If enabled, URL query replacement logic will be run for the Stream. Any query parameters defined in query_parameter_keys will be redacted.
          type: boolean
        name:
          description: 'Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: "properties/1000/dataStreams/2000/dataRedactionSettings"'
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaDataSharingSettings:
      description: A resource message representing data sharing settings of a Google Analytics account.
      properties:
        sharingWithGoogleProductsEnabled:
          description: Allows Google to use the data to improve other Google products or services. This fields maps to the "Google products & services" field in the Google Analytics Admin UI.
          type: boolean
        sharingWithGoogleAnySalesEnabled:
          description: Deprecated. This field is no longer used and always returns false.
          deprecated: true
          type: boolean
        name:
          type: string
          description: 'Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: "accounts/1000/dataSharingSettings"'
        sharingWithGoogleAssignedSalesEnabled:
          description: Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the "Recommendations for your business" field in the Google Analytics Admin UI.
          type: boolean
        sharingWithOthersEnabled:
          description: Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the "Modeling contributions & business insights" field in the Google Analytics Admin UI.
          type: boolean
        sharingWithGoogleSupportEnabled:
          description: Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the "Technical support" field in the Google Analytics Admin UI.
          type: boolean
      type: object
    GoogleAnalyticsAdminV1alphaCustomMetric:
      type: object
      description: A definition for a custom metric.
      properties:
        name:
          type: string
          description: 'Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}'
        parameterName:
          description: Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.
          type: string
        description:
          type: string
          description: Optional. Description for this custom dimension. Max length of 150 characters.
        displayName:
          description: Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.
          type: string
        measurementUnit:
          type: string
          description: Required. The type for the custom metric's value.
          enum:
          - MEASUREMENT_UNIT_UNSPECIFIED
          - STANDARD
          - CURRENCY
          - FEET
          - METERS
          - KILOMETERS
          - MILES
          - MILLISECONDS
          - SECONDS
          - MINUTES
          - HOURS
          x-enumDescriptions:
[...]
